<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Error 403!</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   </head>
   <body style=" background-color: #6c757d;">
      <nav class="navbar navbar-dark bg-dark"><th:block th:include="/_header"></th:block></nav>
      <p>
      <h1 class="centerz">Error 403 - - - Access Denied!</h1><h4 class="fourohthree">Sorry, you are forbidden from accessing this page.</h4>
      </p>  
   </body>
</html>